In [3]:
import pandas as pd
from prophet import Prophet

In [4]:
df = pd.read_csv('D:/Codes/Python/Sources/data/example_wp_log_peyton_manning.csv')

In [5]:
df.head()

           ds         y
0  2007-12-10  9.590761
1  2007-12-11  8.519590
2  2007-12-12  8.183677
3  2007-12-13  8.072467
4  2007-12-14  7.893572

In [7]:
m = Prophet()
m.fit(df)
future = m.make_future_dataframe(periods=365)

14:28:40 - cmdstanpy - INFO - Chain [1] start processing
14:28:40 - cmdstanpy - INFO - Chain [1] done processing

In [8]:
future.tail()

             ds
3265 2017-01-15
3266 2017-01-16
3267 2017-01-17
3268 2017-01-18
3269 2017-01-19

In [9]:
forecast = m.predict(future)

In [11]:
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

             ds      yhat  yhat_lower  yhat_upper
3265 2017-01-15  8.206964    7.483732    8.999429
3266 2017-01-16  8.531958    7.842157    9.260538
3267 2017-01-17  8.319376    7.633512    9.070624
3268 2017-01-18  8.151991    7.470338    8.900371
3269 2017-01-19  8.163908    7.411123    8.865149

In [ ]:
fig